# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/

# Logs
*.log

# Spring Boot
*.pid
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Maven Wrapper 
# Don't ignore:
#!mvnw
#!mvnw.cmd
#!.mvn/